<% provide(:title, 'マイページ') %>
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-md-9 col-md-offset-2">
      <div>
        <% if !@memo.nil? %>
          <%= form_for @memo do |f| %>
          <%= f.submit '編集確定', class: 'btn btn-success' %>
          <h2 id='main_title'>
            <%= f.text_field :title, class: 'custom', placeholder: 'タイトル' %>
          </h2>
          <%= f.text_area :content, class: 'custom', placeholder: '内容', size: '20x30' %>
        <% end %>
      <% else %>
        <%= link_to "新規メモ", new_memo_path %>
      <% end %>
    </div>
  </div>
</div>
