<% provide(:title, 'マイページ') %>
  <% content_for :sidebar do %>
    <%= render 'layouts/sidebar' %>
  <% end %>
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <div>
        <% if !@memo.nil? %>
          <%= form_for @memo, url: memo_path(@memo, user_id: @memo.user.id) do |f| %>
          <%= render 'shared/error_messages', object: @memo %>
          <% if @memo_is_editable %>
            <div class='row'>
              <div class='col-md-10'>
                <%= f.submit '編集確定' , class: "btn btn-success" %>
              </div>
              <% if @memo.user.id == @current_user.id %>
                <div class='col-md-3 col-md-offset-7'>
                  <%= f.select :edit_flag, [['公開・編集可', 3],['公開・編集不可', 2],['非公開', 1]], class: "form-control" %>
                </div>
              <% end %>
            </div>
            <hr>
          <% end %>
          <h2 id='main_title'>
            <%= f.text_field :title, class: 'custom', placeholder: 'タイトル' %>
          </h2>
          <%= f.text_area :content, class: 'custom', placeholder: '内容', size: '20x30' %>
        <% end %>
      <% else %>
        <p>メモがまだありません。</p>
        <%= link_to "新規メモ", new_memo_path %>
        <c>を投稿しましょう。</c>
      <% end %>
    </div>
  </div>
</div>
