<% provide(:title, '新規メモ') %>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <%= form_for(@memo, url: memos_path(@memo)) do |f| %>
      <div class='form-group'>
        <div class='row form-inline'>
            <%= f.submit '完了' , class: "btn btn-success btn-sm" %>
          <div class='col-md-3 col-md-offset-9'>
            <%= f.select :edit_flag, [['公開・編集可', 3],['公開・編集不可', 2],['非公開', 1]], class: "form-control" %>
          </div>
        </div>
        <hr>
        <h2 id='main_title'>
          <%= f.text_field :title, class: 'custom', placeholder: 'タイトル' %>
        </h2>
        <%= f.text_area :content, class: 'custom', placeholder: '内容', size: '20x30' %>
      </div>
    <% end %>
  </div>
</div>
