<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "f i s n", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if !logged_in_user? %>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "新規登録", new_user_path %></li>
        <% else %>
          <li><%= link_to "マイページ / #{@current_user.name}", @current_user %></li>
          <li><%= link_to "新規メモ", new_memo_path(action_id: @current_user.id) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
