<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <% if !@books.nil? && !@books.count.zero? %>
      <!-- ブック -->
      <% @books.each do |b| %>
        <li>
          <%= content_tag :a, {:class=>"", :"aria-expanded"=>"true", :"data-toggle"=> "collapse", :"data-target"=> "##{b.id}"} do -%>
          <i class="fas fa-book"></i>
          <%= b.name %>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        <% end -%>
        <!-- メモ -->
        <%= content_tag :ul, {:class=> "collapse in",:"aria-expanded"=>true, :style=>"", :id=> b.id} do -%>
        <% b.memos.each do |b_memo| %>
          <li>
            <%= link_to(user_path(params[:id], memo_id: b_memo.id)) do %>
            <i class="far fa-sticky-note"></i>
            <%= display_title(b_memo.title) %></a>
        <% end %>
      </li>
    <% end %>
  <% end -%>
  <!-- メモ -->
</li>
<% end %>
<!-- ブック -->
<% end %>
</ul>
</div>
